label{
    margin: 0;

}
body {
    color: #26547C;
}

input {
    border: none;
    background-color: inherit;
    color: #26547C;
}

.day input {
    border-bottom: 1px solid black;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.grid .col {

}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 4.333%;max-width: 4.333%;
}

.col-1.sub input {
    height: auto;
    text-align: center;
    width: 8.5vw;
}

.dates .col {
    font-weight: bold;
    padding: 0.5em 0.25em;
}

.sub input{
    font-weight: bold;
}

.day {
    padding: 0 0.25rem;
}

.day.day-0, .day.day-2, .day.day-4, .day.day-6{
    background-color: #2ec4b6;
}

.day.day-1, .day.day-3, .day.day-5{
    background-color: #279AF1;
}

.day-container {
    display: table;

}

.day input{
    display: table-cell;
    width: 100%;
}

.head {
    background-color: black;
    padding: 1rem 0;
    padding: 0.5em;
    font-size: 1.25em;
    font-weight:  600 !important;
    align-items: center;
}

.head div {
    padding: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    width: auto;
}

.grid-row {
    border-top: 1px solid #aaaa;
    height: 17vh;
}



.rotation-wrapper-outer {
}

.rotation-wrapper-inner {
}


.dates {
    background-color: #FFD166;
}

.sub,
.col-1.sub input {
    background-color: #FF3366;;
}



.subject,
.test {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    

    /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
    white-space: nowrap;
    position: relative;
    top: 8px;
    top: 10px;
}



/*Nelly*/

.text-center {
    text-align: center;
}




#Submit {
    width: 100%;
    border: none;
    color: #dccf;
    background-color: #2ec4b6;
    border-radius: 5px;
    padding: 0.25em 0;
}





