.col {
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.grid .col {
    border-top:    1px solid  black;
border-right:  1px solid  black;
border-bottom: 1px solid  black;
border-left:   1px solid  black;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 4.333%;max-width: 4.333%;
}

.col-1.sub input {
    height: auto;
    text-align: center;
    width: 8.5vw;
}

.dates {}

.day, .day input{
    background-color: #D22277;
}

.day-container {
    display: table;

}

.day input{
    display: table-cell;
    width: 100%;
}

.head {}

.grid {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 1rem;
}

.grid-row {
border-top:    1px solid  black;
border-right:  1px solid  black;
border-bottom: 1px solid  black;
border-left:   1px solid  black;
}



.rotation-wrapper-outer {
    display: table;
}

.rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
}

.sub,
.col-1.sub input,
.dates {
    background-color: #70C1B3;
}

.subject,
.test {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
     transform instead of this one. */
    transform: rotate(-90deg) translate(-100%);
    /* transform: rotate(90deg) translate(0, -100%); */
    margin-top: -50%;

    /* Not vital, but possibly a good idea if the element you're rotating contains
     text and you want a single long vertical line of text and the pre-rotation
     width of your element is small enough that the text wraps: */
    white-space: nowrap;
}







/*Nelly*/

.text-center {
    text-align: center;
}
